.ipynb_checkpoints
*/.ipynb_checkpoints/*
week_01/.ipynb_checkpoints
week_01/.ipynb_checkpoints/*.ipynb
week_02/.ipynb_checkpoints
week_02/.ipynb_checkpoints/*.ipynb
week_03/.ipynb_checkpoints
week_03/.ipynb_checkpoints/*.ipynb
week_04/.ipynb_checkpoints
week_04/.ipynb_checkpoints/*.ipynb
week_05/.ipynb_checkpoints
week_05/.ipynb_checkpoints/*.ipynb
week_06/.ipynb_checkpoints
week_06/.ipynb_checkpoints/*.ipynb
